.roomHeader
    height: 11.73333vw
    padding: 0 3.2vw 0 4.8vw
    display: flex
    justify-content space-between
    .logo
      display: inline-block
      height: 11.73333vw
      width: 16vw
      margin-top: 2vw
    .liveType  
      color #fb7299
      font-size 3.8vw
      margin-top 3vw
 .livePlayer
    width 100%
    overflow hidden
    .control 
      margin-top -10vw
.liveInfo
  width 100%
  position relative
  display flex
  margin-top -2vw
  .avatar 
    img  
      width 12.7vw
      height 12.7vw
      border-radius 50%
      margin-left 3vw
  .about  
    width  40vw
    margin 4vw 0 0 3vw
    .author_name
      font-size 3.4vw
      color #212121 
    .author_about 
      display flex
      color #999 
      font-size 3vw  
.chatContainer
  width 100%
  background #e4e4e4
  .chatBar
    width 100%  
    display flex
    margin-top 3vw
    background #ffffff
    div 
      width 50%
      text-align center
      span 
        display inline-block
        width 14vw  
        height 8vw
        line-height 8vw
        color #666666
        font-size 3.6vw
        text-align center    
      .activeBar
        color #fb7299
        border-bottom 2px solid #fb7299  
  .description
    width 100%
    padding 8px
    box-sizing border-box
    margin-top 5px
    font-size 3.4vw

      