.roomHeader
    height: 11.73333vw
    padding: 0 3.2vw 0 4.8vw
    display: flex
    justify-content space-between
    .logo
      display: inline-block
      height: 11.73333vw
      width: 16vw
      margin-top: 2vw
    .liveType  
      color #fb7299
      font-size 3.8vw
      margin-top 3vw
.liveInfo
  width 100%
  display flex
  .avatar 
    img  
      width 12.7vw
      height 12.7vw
      border-radius 50%
      margin-left 3vw
  .about  
    width  40vw
    margin 4vw 0 0 3vw
    .author_name
      font-size 3.4vw
      color #212121 
    .author_about 
      display flex
      color #999 
      font-size 3vw  