.liveBar 
  width 100%
  display flex
  margin-top 12vw
  justify-content space-around
  margin-left -1vw
  div
    width 14vw
    height 8vw
    line-height 8vw 
    text-align center
    color #000000
    font-size 4.3vw
    margin-left 1vw
  .live
      color #fb7299
      border-bottom 2.6px solid #fb7299  
.liveBanner
  width 100%
  margin-top -23vw      