.liveBar 
  width 100%
  display flex
  margin-top 12vw
  justify-content space-around
  margin-left -1vw
  div
    width 14vw
    height 8vw
    line-height 8vw 
    text-align center
    color #000000
    font-size 4.3vw
    margin-left 1vw
  .live
      color #fb7299
      border-bottom 2.6px solid #fb7299  
.typeArea
  width  100%
  background #f2f2f2
  overflow hidden
  .allTypes
    font-size 4vw
    color #555
    margin 4vw 0 0 3vw
  .eachType
     display flex
     width 100%
     text-align center
     flex-wrap wrap
    .item
      width 26.333vw 
      padding 3vw
      img
        width 18vw
        height 18vw  
