.liveBar 
  width 100%
  display flex
  margin-top 12vw
  justify-content space-around
  margin-left -1vw
  div
    width 14vw
    height 8vw
    line-height 8vw 
    text-align center
    color #000000
    font-size 4.3vw
    margin-left 1vw
  .live
      color #fb7299
      border-bottom 2.6px solid #fb7299  
.typeArea
  width  100%
  background #f2f2f2
  overflow hidden
  .allTypes
    font-size 4vw
    color #555
    margin 4vw 0 0 3vw
  .eachType
     display flex
     width 100%
     text-align center
     flex-wrap wrap
    .item
      width 26.333vw 
      padding 3vw
      img
        width 18vw
        height 18vw  
.itemContent
  width  100%
  display flex
  flex-wrap wrap
  .liveItem
    width 50vw
    padding 1.5vw
    box-sizing border-box
    div
      width 100%
      img
        width 100%
        height 28vw
        border-radius 5px
    .liveTitle  
      width 40vw
      font-size 3.8vw  
.giveMore
  width 80%
  height 8vw
  text-align center
  line-height 8vw
  font-size 4.2vw
  color #fb7299
  border 1px solid #e3e3e3
  margin-left 10%
  border-radius 5px
  margin 2vw 0 2vw 10% 

        
        

