 .channelBar
    // width: 100%;
    padding: 0 0 0 2vw
    display flex
    overflow hidden
    .channelMenu
      margin-top: 4vw
      height: 8vw
      display:flex
      overflow-x scroll
      overflow-y hidden
      div
        width: 15vw
        height: 6.8vw
        color: #505050
        font-size: 14px
        margin: 0 5vw
        white-space nowrap