.header_container
  width: 100vw
  background: #fff
  position: fixed
  top: 0
  z-index 99
  .header_bar
    height: 11.73333vw
    padding: 0 3.2vw 0 4.8vw
    display: flex
    .logo
      display: inline-block
      height: 11.73333vw
      width: 16vw
      margin-top: 2vw
    .avatar
      height: 6vw 
      width: 6vw
      display: inline-block
      position:absolute
      right: 8vw
      top: 3vw
      svg
        border-radius: 50% 
    .search_icon
      width: 5vw
      height: 5vw
      position:absolute
      right: 21vw
      top: 3.2vw
      .icon-search
        width: 6.7vw
        height: 6.7vw

