.searchContent
  width 100%
  .searchTab
    width 100%
    display flex
    margin-top 3vw
    div
      width 50%
      text-align center
      span 
        width 10vw
        height 7vw
        font-size 3.8vw
        display inline-block
        color #757575
        text-align center
      .selected
        border-bottom 2px solid #fb7299
        color #fb7299
  .chooseType
    width 100%
    display flex
    background #f4f4f4
    text-align center
    margin-top 4vw
    div
      width 25%
      height 10vw
      line-height 10vw
      font-size 3.8vw
      span 
        color #757575
      .selectedType
        color #fb7299  
  .contentList
    width 100%
    background  #f9f9f9    
    .listItem
      width 100%
      padding 3vw
      box-sizing border-box
      display flex
      img
        width 38vw
        height 24vw
        border-radius 5px
      .listRight
        width 58vw
        margin-left 3vw
        .title
          font-size 3.8vw
          color #222222
          font-weight 500    