.searchHeader
  width 100%
  display flex
  padding 2vw 3.3vw
  box-sizing border-box
  .searchBar
    width 80%
    height 8vw
    padding 0 3.2vw
    line-height 8vw
    display flex
    background #f4f4f4
    border-radius 4px
    img
      width 4.3vw
      height 4.6vw
      margin-top 2vw
    .searchInput
      border 0
      outline none
      background-color rgba(0, 0, 0, 0)
      margin-left 1vw
  .cancel
      width 13vw
      height 6vw
      text-align center
      color #fb7299  
      font-size 4vw
      margin 2vw 0 0 3vw
.hotSearch
  width 100%
  .hotTitle
    font-size 3.73333vw
    color  #999   
    font-weight 400
    margin 3vw 0 0 4vw
  .hotList
    width 100%
    display flex
    padding 2vw 4vw
    flex-wrap wrap
    box-sizing border-box
    .hotItem
      height 9vw
      padding 0 3.2vw
      color #505050
      border-radius 4.5333vw
      border 1px solid #ccc
      margin 2vw 1.4vw
      font-size 3.4666vw
      line-height 9vw
.searchList
  width 100%
  position absolute   
  background #f4f4f4
  top 12vw
  z-index 99  
  padding 0 2vw
  box-sizing border-box
  div
    width 100%
    height 10vw
    lin-height 10vw
    padding 3vw
    box-sizing border-box
    font-size 3.8vw
    color #555555 
    border-bottom 1px solid #ccc




