.rank_container
  width  100%
  .rank_header
    width 100%
    text-align center
    color #fb7299
    line-height 11vw
    height 11vw
    img
      width 5.8vw
      height 5.4vw
      position absolute
      left 4vw 
      top 3vw
    &:after
      content ''
      position absolute
      width 100%
      left 0
      box-sizing border-box
      height 1px
      background-color #e7e7e7
      transform scaleY(.5)
  .barContainer
    display flex
    overflow hidden
    overflow-y hidden
    overflow-x scroll
    div
      height 7vw
      font-size 15px
      color #505050
      margin 18px 0 0 28px
      flex-shrink 0
    .activeMenu
      border-bottom:2px solid #fb7299
      color: #fb7299    