.liveList
  width 100%
  .topBg
    width 100%
    height 3vw
    background #f4f4f4
  .listContent
    width 100%
    .contentTitle
      width 100%
      display flex
      justify-content space-between
      padding 3vw
      box-sizing border-box
      font-size 4.1vw
      .title
        margin 3.3vw 0 0 2vw
      a
        // display inline-block  
        overflow hidden
        display flex
        p 
          font-size 3.6vw
          color #999
          margin-right 1.6vw
        img  
          width 5.4vw
          height 5.4vw
          margin-top 3.3vw
    .itemContent
      width  100%
      display flex
      flex-wrap wrap
      margin-top -4.4vw
      .liveItem
        width 50vw
        padding 1.5vw
        box-sizing border-box
        div
          width 100%
          img
            width 100%
            height 28vw
            border-radius 5px
        .liveTitle  
          width 40vw
          font-size 3.8vw  
.allType
  text-align center
  color #fb7299
  font-size 4vw
  width 50%
  line-height 8vw
  line-height 8vw
  border 1px solid #e3e3e3
  border-radius 5px
  margin 3vw 0 3vw 25%

      
        
        
