.commentsContainer
  width 100%
  .comments 
    width 100%  
    padding 3vw
    box-sizing border-box
    .creatorInfo
      width 100%
      display flex 
      .avatar 
        img 
          width 8vw
          height 8vw
          border-radius 50%
      .uname-date
        margin-left 3vw
        color #757575
        font-size 3.3vw   
      .iconfonts
        position absolute
        right 5vw
        img 
          width 4vw
          height 4vw  
        span 
          font-size 12px      
          color #999999
          display inline-block
    .creatorSays
      width 100%  
      padding 3vw 4vw 0 11vw
      font-size 3.5vw
      color #212121
      box-sizing border-box
          