
.recommend_container
  width 100vw
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-top -10vw
  .recommend_item
    width 50vw
    height 35vw
    display inline-block
    // display flex 
    flex-direction column
    margin-top 10vw
    .item 
      width 46vw
      padding-left 2.4vw
      height 30vw
      box-sizing border-box
      .listPic 
        width 46vw
        height 30vw
        border-radius 6px
      .playedInfo
        display flex
        position absolute
        justify-content space-between
        margin-top -8vw
        margin-left 3vw
        width 40%
        span 
          display flex
          align-items center  
          color #fff 
        .numInfo
          font-size 3.3vw 
          margin-left 1.6vw
    .title
      font-size 3.3vw  
      color #212121
      padding 0 0 0 2vw
      text-overflow ellipsis
      display -webkit-box
      -webkit-line-clamp 2
      -webkit-box-orient vertical
      overflow hidden