.recommend_container
  width 100vw
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-top -10vw
  .recommend_item
    width 50vw
    height 35vw
    display inline-block
    display flex 
    flex-direction column
    margin-top 10vw
    .item 
      width 46vw
      padding-left 2.4vw

      height 40vw
      img 
        width 46vw
        height 30vw
        border-radius 6px
    .title
      font-size 13px    
      color #212121
      text-decoration 'none'
      padding 0 0 0 2vw
      margin-top 4vw